recursive-include streamlit_hierarchy_chart/frontend/dist *
exclude example.py
exclude utils.py
exclude example.png
exclude test.csv
exclude requirements.txt
exclude test.ipynb
prune scripts
prune __pycache__
